* {
    margin: 20px;
}

body{
    background-color: rgb(35, 35, 35);
}

h1 {
    font-size: 50px;
    font-weight: 400;
    color: white;
}

h2{
    font-size:25px;
    font-weight: 400;
    color: white;
}

p{
    font-size: 15px;
    font-weight: 200;
    color: white;
}